body {
    background-color: #f5f5f5;
    margin: 0;
    padding-top: 80px; /* Prevent content from overlapping the navbar */
}

.navigation {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(8px);
    border: 0px solid #1d63ff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Floating effect */
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #1d63ff;
    font-family: "Geist", sans-serif;
}

.home-parent {
    display: flex;
    gap: 42px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

  .home-parent a {
        text-decoration: none; /* Remove underline */
        color: inherit; /* Keep the same text color */
        font-weight: inherit;
    }

.home {
    font-weight: 600;
    color: #1d63ff;
    cursor: pointer;
    transition: color 0.3s ease;
}
.movies {
    font-weight: 500;
    color: #313131;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .home:hover,
    .movies:hover {
        color: #1d63ff; /* Darker blue on hover */
        font-weight: 600;
    }
