body {
    font-family: "DM Sans", sans-serif;
    background-color: #131118;
    color: #313131;
/*    display: flex;*/
    justify-content: center;
    margin: 0;
}

.payment-container {
    background: #1A1826;
    padding: 40px;
    border-radius: 12px;
    width: 420px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    font-family: "DM Sans", serif;
    color: #7A63F9;
    font-size: 28px;
    margin-bottom: 20px;
}

.movie-details {
    font-family: "DM Sans", serif;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    margin-bottom: 25px;
    padding: 12px;
    background: #F8E1E3;
    border-radius: 6px;
}

.payment-method, .card-details, .upi-details {
    font-family: "DM Sans", serif;
    text-align: left;
}

label {
    font-family: "DM Sans", serif;
    font-weight: 600;
    font-size: 15px;
    color: #f4f4f4;
}

.input-field {
    width: 100% !important;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #3C394C;
    color: #f4f4f4;
    outline: none;
    box-sizing: border-box;
}


select, input {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #3C394C;
    color: #f4f4f4;
    outline: none;
}

    input:focus, select:focus {
        border-color: #7A63F9;
        box-shadow: 0px 0px 5px rgba(215, 38, 56, 0.3);
    }

.pay-btn {
    background: #7A63F9;
    color: white;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .pay-btn:hover {
        background: #9F8EFF;
        transform: scale(1.05);
    }

.upi-details {
    display: none;
}

.secure-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    color: #f4f4f4;
}

    .secure-icon img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

#RequiredFieldValidator1 {
    margin-left: 12px;
}

#RequiredFieldValidator2 {
    margin-left: 12px;
}

#RequiredFieldValidator3 {
    margin-left: 12px;
}
